/* ------ Specification ------ */
html {
    overflow-x: hidden;
}

html.lock {
    overflow: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
    font-weight: 400;
    background: #F5F5F5;
    overflow-x: hidden !important;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

p {
	margin: 0;
    color: #141414;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #232323;
}

h2 {
	font-size: 32px;
    line-height: 35.2px;
    letter-spacing: -0.03em;
    color: #6E9B63;
}

h3 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.03em;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    font-weight: 600;
    color: #232323;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

th {
    background: #EAF4E7;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #748B6E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td {
    background: rgba(255, 255, 255, 0.002);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #B9B9B9;
}

td, th {
    padding: 10px 12px;
    
}

tr {
    display: flex;
    flex-direction: row;
}

table {
    border: 1px solid #748B6E;
    font-size: 14px;
    line-height: 22px;
}

.input, input:hover, input:focus, input:active, button, button:hover, button:focus, input:active {
    outline: none;
} 

:root {
    scroll-behavior: auto;
}

.green-font {
    color: #6E9B63;
}


.big-green {
    height: 52px;
    width: 32px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.03em;
    color: #6E9B63;
    display: inline-flex;
    justify-content: flex-end;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

/* ------ First section ------ */

#header {
    padding: 40px 0 0;
    position: relative;
}

.navigation {
    height: 42px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 30px;
    text-transform: uppercase;
    height: 42px;
    color: #55804A;
    font-weight: 500;
    line-height: 21px;
}

.menu__item a {
    transition: all 0.4s ease;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}

.menu__item a:hover {
    transition: all 0.4s ease;
    border-bottom: 1px solid #55804A;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.burger {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger__btn {
    display: flex;
    background: transparent;
    border: none;
    padding: 0;
    height: 12px;
    position: relative;
    align-items:center
}

.burger__btn .line::before{
    transition: all 0.8s ease;
}

.burger__btn.cross .line::before{
    transition: all 0.5s ease;
    opacity: 0;
}

.burger__btn .line{
    transition: all 0.5s ease;
}

.burger__btn.cross .line{
    transition: all 0.5s ease;
    transform: rotate(45deg);
    background: #F5F5F5;
    z-index: 2500;
}

.burger__btn .line::after{
    transition: all 0.5s ease;
}

.burger__btn.cross .line::after{
    top: 0%;
    transform: rotate(-90deg);
    transition: all 0.5s ease;
    background: #F5F5F5;
    z-index: 2500;
}

.line::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background:#6E9B63;
    top: -300%;
    left: 0%;
    border-radius: 1px;
}

.line {
    position: relative;
    width: 18px;
    height: 2px;
    background:#6E9B63;
    border-radius: 1px;
}

.line::after {
    content: '';
    position: absolute;
    top: 300%;
    left: 0%;
    width: 18px;
    height: 2px;
    background:#6E9B63;
    border-radius: 1px;
}

.menu {
    display: flex;
    justify-content: space-between;
    line-height: 27px;
    transition: all 0.5s ease;
}

.menu-collapse {
    display: block;
}

.menu.menu-opened {
    position: absolute;
    top: 0%;
    left: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 135px 0 0 ;
    background: linear-gradient(90deg, #769D6D 0%, #588A4D 100%);
    height: 100vh;
    width: 70%;
    z-index: 2000;
    margin: 0;
    color: #F5F5F5;
}

.overlay.fone {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.leaf-1 {
    position: absolute;
    top: 0%;
    left: 93%;
    height: 100%;
    width: 20%;
    transform: scaleX(1);
    overflow: hidden;
    z-index: -1;
}

.leaf-1 img {
    top: -60%;
    position: absolute;
}

.admin {
    display: flex;
}

.menu-admin {
    padding: 49px 40px 0px 44px;
    width: 280px;
    height: 900px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    user-select: none;
    background: #fff;
}

.menu-admin__title {
    margin-bottom: 32px;
}

.menu-admin__item {
    display: flex;
    cursor: pointer;
}

.menu-admin__item:not(:last-child) {
    margin-bottom: 20px;
}

.menu-admin__text {
    margin-left: 14px;
}

.menu-list {
    margin-top: -4px;
    margin-bottom: 20px;
}

.menu-list__text {
    margin-bottom: 8px;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    font-size: 12px;
    transition: all 0.5s ease ;
}

li.active .arrow {
    transform: scale(1, -1)
}

li.active .menu-admin__text {
    color: #527549;
}

.active {
    color: #527549;
}

.menu-list__text {
    cursor: pointer;
    margin-left: 45px;
}

.menu-list__text:hover {
    color: #527549;
}

#list > li > ul {
    display: none;
}

.admin-descr {
    padding: 32px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px #A4A4A4;
    border-radius: 15px;
}

.admin-descr__main {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 0px 38px 0 32px;
    border-radius: 8px;
    width: 1096px;
    overflow-y: scroll;
    height: 868px;
}

.admin-descr__title {
    margin-top: 32px;
    margin-bottom: 32px;
}

.filter__btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent;
}

.trash {
    background: #F04563;
    border-radius: 4px;
    color: #fff;
    height: 32px;
    width: 32px;
    display: flex;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.5s ease;
}

.stars {
    font-size: 12px;
}

.trash:hover {
    background: #fff;
    color: #F04563;
    border: 2px solid #F04563;
}

.list-item {
    display: flex;
    margin-bottom: 20px;
}

.confirm__btn {
    margin-left: 15px;
    border: 1px solid #000;
    background: transparent;
}

.table__id-1 {
    width: 82px;
    border-left: transparent;
}

.table__id-2 {
    width: 58px;
    border-left: transparent;
}

.table__title {
    width: 215px;
}

.table__price {
    width: 60px;
}

.table__product {
    width: 136px;
}

.table__rate {
    font-size: 16px;
    width: 109px;
}

.table__name-1 {
    width: 148px;
}

.table__name-2 {
    width: 169px;
    border-left: transparent;
}

.table__mail {
    width: 257px;
}

.table__msg {
    width: 341px;
}

.table__text {
    width: 232px;
}

.table__compound {
    width: 192px;
}

.table__link {
    width: 145px;
}

.table__descr {
    width: 270px;
}

.table__img {
    display: flex;
    flex-direction: row;
    width: 325px;
}

td img {
    width: 301px;
}

.table__action-1 {
    width: 111px;
}

.table__action-2 {
    width: 74px;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #6E9B63;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}

.edit:hover {
    background: transparent;
    color: #6E9B63;
    border: 2px solid #6E9B63;
}

.add-news__title {
    display: flex;
}

.add-news p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 7px;
}

.add-news-fr {
    margin-top: 40px;
}

.tox-tinymce {
    margin: 0 0 0 auto !important;
    width: 775px !important;
    resize: none !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
}

textarea {
    margin-left: auto;
    border: 1px solid #232323;
    border-radius: 8px;
    width: 775px;
    padding: 6px 12px;
    resize: none;
    overflow-y: hidden;
}

.add-news__title textarea {
    height: 34px;
}

.add-news__descr textarea {
    height: 80px;
}

.add-news__text textarea {
    height: 304px;
}

.wrap {
    display: flex;
    margin-bottom: 20px;
    color: #141414;
}

.news-image {
    margin-top: 40px;
}

.news-image__input {
    margin: 0 0 0 auto;
}

.toggle {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 775px;
    border: 1px solid #232323;
    border-radius: 8px;
    font-size: 14px;
    height: 34px;
}

.press {
    background: #424242;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
    border: none;
    padding: 6px 16px;
    width: 135px;
}

.passive {
    background: #FFFFFF;
    border-radius: 8px;
    color: #8C8C8C;
    width: 638px;
    text-align: left;
    border: none;
    padding: 6px 16px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 151px;
    height: 102px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    font-size: 35px;
    color: #8C8C8C;
    margin-right: auto;
    margin-left: 242px;
    transition: all 0.3s ease;
}

.news__btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: linear-gradient(90deg, #769D6D 0%, #588A4D 100%);
    border-radius: 21px;
    padding: 8px 40px;
    border: 2px solid transparent;
    background: #769D6D;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease;
    margin-bottom: 32px;
    margin-top: 32px;
}

.news__btn:hover {
    color: #769D6D;
    background: transparent;
    border: 2px solid #769D6D;
}

.change {
    display: flex;
    justify-content: space-between;
}

.delete {
    background: #F04563;
}

.delete:hover {
    color: #F04563;
    background: transparent;
    border: 2px solid #F04563;
}

/* ------ Second section ------ */

.content {
    position: relative;
    padding-top: 163px;
    padding-bottom: 222px;
}

.description {
    margin-top: 57px;
    width: 470px;
}

.description__text {
    margin-top: 34px;
    max-width: 390px;
    line-height: 25.6px;
}

.description__btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 12px, 60px;
    height: 50px;
    width: 240px;
    border-radius: 38px;
    margin-top: 55px;
    border: 2px solid transparent;
    background: #769D6D;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease;
}

.description__btn:hover {
    color: #769D6D;
    background: transparent;
    border: 2px solid #769D6D;
}

.product {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.front {
    width: 70%;
    position: relative;
    z-index: 10;
}

.back-1 {
    position: absolute;
    width: 57%;
    top: 9.2%; 
    left: -3.7%;
    z-index: 1;
}

.back-2 {
    position: absolute;
    width: 57%;
    top: 9.2%; 
    left: 48%;
    z-index: 1;
}

.leaf-2 {
    background: url(../img/Leaves-illustration/One-leaf.svg) no-repeat left center/cover;
    position: absolute;
    top: -7%;
    left: 48%;
    height: 23%;
    width: 23%;
    transform: scaleX(-1);
    z-index: -1;
}

.leaf-3 {
    background: url(../img/Leaves-illustration/Big-leaf.svg) no-repeat bottom center/cover;
    position: absolute;
    top: 35%;
    left: -22.5%;
    height: 50%;
    width: 50%;
    transform: scaleX(-1);
    z-index: -1;
}

.leaf-4 {
    position: absolute;
    top: 35%;
    left: 0%;
    height: 50%;
    width: 25%;
    transform: scaleX(1);
    overflow: hidden;
    z-index: -1;
}

.leaf-4 img {
    left: -60%;
    position: absolute;
}

.parallax-bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;
}

.petal-1 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 138px;
    height: 83px;
    left: -4vw;
    top: 21vh;
    filter: blur(4px);
    transform: rotate(-30deg);
}

.petal-2 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 63px;
    height: 33px;
    left: 48vw;
    top: 19vh;
    filter: blur(2px);
    transform: rotate(30deg);
}

.petal-3 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 65px;
    height: 39px;
    left: 88vw;
    top: 10vh;
    filter: blur(2px);
    transform: rotate(-45deg);
}

.petal-4 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 83px;
    height: 50px;
    left: 89vw;
    top: 33vh;
    filter: blur(2px);
    transform: rotate(150deg);
}

.petal-5 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 106px;
    height: 63px;
    left: 95vw;
    top: 71vh;
    filter: blur(3px);
    transform: rotate(-150deg);
}

.petal-6 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf\ side.png) no-repeat center center/contain;
    width: 75px;
    height: 28px;
    left: 38vw;
    top: 60vh;
    filter: blur(4px);
    transform: rotate(-25deg);
}

.news-list {
    padding: 94px 0 120px;
}

.news-list h1 {
    color: #6E9B63;
    text-align: center;
    margin-bottom: 64px;
    position: relative;
}

.news-list__title {
    margin-top: 20px;
    margin-bottom: 12px;
}

.news-list__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 8px;
    max-width: 370px;
    height: 517px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.news-list__img {
    position: relative;
    width: 100%;
    border-radius: 4px;
}

.news-list img {
    width: 100%;
}

.news-list__text {
    color: #424242;
}

.news-list time {
    margin-top: auto;
    color: #A9A9A9;
}

.news-list__overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(.jpg);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    max-width: 330px;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.news-list__overlay:hover {
    opacity: 1;
}

.news-list__overlay a {
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

.news-list__overlay a:hover {
    border-bottom: 1px solid #fff;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    user-select: none;
    height: 40px;

}

.pagination__page {
    margin-left: auto;
    margin-right: 47px;
}

.pagination__url {
    cursor: pointer;
}

.pagination__url:not(:last-child) {
    margin-right: 16px;
}

.petal-14 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/contain;
    width: 45px;
    height: 30px;
    left: 42%;
    top: 16%;
    filter: blur(2px);
    transform: rotate(-40deg);
    
}

.petal-15 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/contain;
    width: 35px;
    height: 25px;
    left: 56%;
    top: 20%;
    filter: blur(1px);
    transform: rotate(30deg);
}

.news {
    padding: 100px 0 161px;
    
}

.news__img {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.news__title {
    color: #232323;
}

.box {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.news__text{
    margin-top: 32px;
}

.spares__title {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.spares__title::before {
    display: block;
    content: '';
    height: 5px;
    width: 5px;
    background: #232323;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    
}

.spares__text {
    margin-top: 14px;
}

.news__date {
    margin-top: 106px;
}

.news span {
    font-weight: 600;
    color: #141414;
}

/* ------ Third section ------ */

.dignity {
    max-width: 1276px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #769D6D 0%, #588A4D 100%);
    color:#fff;
    border-radius: 8px;
    padding: 72px 148px 108px 154px ;
}

.dignity__title {
    color: #fff;
    text-align: center;
    margin-left: -5px;
}

.dignity__text {
    color:#fff;
    width: 370px;
    line-height: 26px;
}

.wrapper {
    margin-top: 74px;
}

.dignity__item p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-top: 5px;
}
.dignity__item {
    display: flex;
    flex-direction: column;
}

.dignity__item span {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

/* ------ Fourth section ------ */

.advantages {
    position: relative;
    padding: 295px 0 154px;
}

.advantages h2 {
    margin-bottom: 80px;
}

.advantage {
    margin-right: auto;
    
}

.advantage__item {
    width: 173px;
    margin-bottom: 92px;
}


.advantage__text {
    color:#141414;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

.petal-7 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/contain;
    width: 138px;
    height: 83px;
    left: 11vw;
    top: 130vh;
    filter: blur(4px);
    transform: rotate(-30deg);
}

.petal-8 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf\ side.png) no-repeat center center/contain;
    width: 96px;
    height: 35px;
    left: 87vw;
    top: 145vh;
    filter: blur(4px);
    transform: rotate(25deg);
}

.leaf-5 {
    position: absolute;
    top: 15%;
    left: 0%;
    height: 50%;
    width: 20%;
    transform: scaleX(-1);
    overflow: hidden;
    z-index: -1;
}

.leaf-5 img {
    left: 50%;
    position: absolute;
}

/* ------ Fifth section ------ */

.How-to-use {
    position: relative;
    padding-bottom: 254px ;
}

.hookah {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.manual {
    margin-left: 67px;  
}

.usage {
    margin-left: 70px;
    margin-top: 86px;
}

.usage__title {
    margin-left: 18px;
    margin-bottom: 40px;
}

.rule {
    display: flex;
    align-items:flex-end;
}

.rule:not(:last-child) {
    margin-bottom: 38px;
}

.rule__text {
    margin-left: 15px;
}

.petal-9 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/contain;
    width: 94px;
    height: 57px;
    left: 0vw;
    top: 190vh;
    filter: blur(4px);
    transform: rotate(-150deg);
}

.petal-10 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/contain;
    width: 148px;
    height: 89px;
    left: 95vw;
    top: 210vh;
    filter: blur(4px);
    transform: rotate(30deg);
}

.petal-11 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf\ side.png) no-repeat center center/contain;
    width: 96px;
    height: 35px;
    left: -3vw;
    top: 235vh;
    filter: blur(4px);
    transform: rotate(-25deg);
}

.leaf-6 {
    position: absolute;
    top: 35%;
    left: 90%;
    height: 50%;
    width: 25%;
    transform: scaleX(-1);
    z-index: -1;
}

.leaf-6 img {
    left: -10%;
    position: absolute;
}

/* ------ Sixth section ------ */

.compound {
    position: relative;
    padding-bottom: 172px ;
}

.mix h2 {
    text-align: center;
    margin-bottom: 72px;
    margin-left: 5px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.circle-1 {
    background: #D9EAC7;
}

.circle-2 {
    position: relative;
    background: #FFDDDD;
}

.circle-3 {
    background: #FFF2C6;
}

.apple {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 30%;
}

.pear {
    position: absolute;
    z-index: 2;
    top: -18%;
    left: -17%;
}

.apricot {
    position: absolute;
    z-index: 1;
    top: -5%;
    left: 37%;
}

.dried-fruit {
    margin-left: 25px;
}

.honey {
    margin-left: 25px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 22px;
    text-align: center;
}

.technology {
    width: 405px;
    line-height: 26px;
    margin-left: 36px;
    margin-bottom: 155px;
}

.ingridients {
    margin-top: 160px;
    margin-left: 50px;
    color: #888888;
}

.petal-12 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 87px;
    height: 52px;
    left: 94vw;
    top: 265vh;
    filter: blur(3px);
    transform: rotate(45deg);
}

.petal-13 {
    position: absolute;
    background: url(../img/Photos/Mint\ leaf.png) no-repeat center center/cover;
    width: 131px;
    height: 79px;
    left: -4vw;
    top: 310vh;
    filter: blur(4px);
    transform: rotate(-30deg);
}

.leaf-7 {
    position: absolute;
    top: 0%;
    left: 3%;
    height: 25%;
    width: 20%;
    transform: rotate(120deg);
    overflow: hidden;
    z-index: -1;
}

.leaf-7 img {
    top: 35%;
    position: absolute;
}

/* ------ Seventh section ------ */

.footer {
    background: #6E9B63;
    padding: 56px 0 100px;
}

.menu-footer {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}

.menu-footer__item {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}